.table {
  display: table;

}

.row {
  display: table-row;
}

.cell {
  display: table-cell;
  padding: 20px;
  border: 1px solid black;
  height: 30px;
  width: 30px;
}

.chooseX {
  background-color: red;
}

.chooseO {
  background-color: blue;
}
